* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1070px;
    margin: 0 auto;
    padding: 0 15px;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
}

#map {
    height: 180px;
}
